#OpeningSlide {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: dis 4s forwards;
}
@keyframes dis {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }
  99% {
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
