@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap");

.arabicFont {
  font-family: "Noto Kufi Arabic", sans-serif;
}

html {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 18px;
  }
}
@font-face {
  font-family: "Bauhaus 93 V2";
  src: url("./fonts/89d11a443c316da80dcb8f5e1f63c86e.eot"); /* IE9*/
  src: url("./fonts/89d11a443c316da80dcb8f5e1f63c86e.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/89d11a443c316da80dcb8f5e1f63c86e.woff2")
      format("woff2"),
    /* chrome、firefox */ url("./fonts/89d11a443c316da80dcb8f5e1f63c86e.woff")
      format("woff"),
    /* chrome、firefox */ url("./fonts/89d11a443c316da80dcb8f5e1f63c86e.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("./fonts/89d11a443c316da80dcb8f5e1f63c86e.svg#Bauhaus 93 V2")
      format("svg"); /* iOS 4.1- */
}
.number {
  font-family: "Bauhaus 93 V2";
}
