* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.page {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
}
body {
  background-color: #fbfdff;
}
.slide {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.pC {
  color: #ec9b6a;
}
.pBC {
  background-color: #ec9b6a;
}
.sC {
  color: #b2d1d6;
}
.sBC {
  background-color: #b2d1d6;
}
.arabic {
  transform: rotateZ(180deg);
}
